body {
    width: 100%;
    margin: 0 auto;
}

section {
    overflow: auto;
    height: 100%;
}


nav {
    padding: 10px;
    margin: 10px;
}

#pic {
    padding: 10px;
    margin: 10px;
}


.hello {
    margin: 10px;
}

article {
    width: 300px;
    float: left;
    margin: 10px;
}

.article-wrap {
    margin: 0 auto;
}

@media (min-width: 500px) {
    .article-wrap {
        max-width: 80%;
        } 
}

.wrap {
    position: relative;
}

.wrap > p {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 1;
    font-size: 8rem;
    color: #ffffff;
}

img {
    z-index: 2;
}

.about {
    width: 500px;
}

nav li{
    display: inline;
    padding: 25px;
}

.contact li{
    padding: 20px;
    margin-left: -40px;
    
}

.c4 {
    width: 500px;
    float: left;
    margin-left: 10px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    height: 120px;
    width: 100%;
    position: relative;
}

.icon-mail:before {
    font-size: 30px;
}

.icon-facebook2:before {
    font-size: 30px;
}
.icon-instagram:before {
    font-size: 30px;
}
.icon-github:before {
    font-size: 30px;
}
.icon-linkedin:before {
    font-size: 30px;
}


.icons {
    padding-bottom: 30px;
}

.smallimage {
    width: 150px;
    position: absolute;
    top: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}