header {
    text-align: center;
}


#pic {
    background-color: #efefef;
}


.hello {
    font-weight: 500;
}

article {
    font-weight: 500;
}

.about {
    font-size: 30px;
}

nav li {
    color: black;
}

nav a:hover {
    color: #666666/*rgba(44, 23, 185, 0.5)*/;
}

nav a {
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
     background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.7) 0px 3px 3px;
}

#h1 a {
    text-decoration: none;
    color: black;
}

#h1 {
    font-family: 'Univia Pro Thin';
    letter-spacing: 5px;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #000035;
    font-weight: 600;
}

h1 {
    font-size: 36px;
    letter-spacing: 4px;
}

h2 {
    color: #CC0000;
}

h1, h2, p, ul li {
     font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

p {
    font-size: 18px;
}

h3 {
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    font-size: 25px;
}

.contact li {
    font-size: 16px;
    list-style-type: none;
}

footer {
    padding-left: 10px;
    text-align: center;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

